@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

body {
  font-family: "Roboto", sans-serif;
}

h1 {
  text-align: center;
  background-color: cadetblue;
  color: white;
  padding: 1rem;
}

.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.form-container form {
  display: flex;
  flex-direction: column;
  padding-bottom: 1rem;
  width: 100%;
}

.invisible {
  display: none;
}

.form-container form h3 {
  text-align: center;
}

.form-container form input {
  padding: 10px;
  margin-bottom: 10px;
  border: 2px solid gray;
  border-radius: 5px;
}

.btn {
  width: 10rem;
  margin-bottom: 1rem;
  padding: 0.7rem 2rem;
  border-radius: 5px;
  border: none;
  background-color: steelblue;
  color: white;
  cursor: pointer;
}

.btn:active {
  transform: scale(0.98);
  background-color: rgb(47, 87, 121);
}

.btn-cancel {
  background-color: rgb(145, 95, 4);
}

.btn-cancel:active {
  transform: scale(0.98);
  background-color: rgb(88, 59, 3);
}
.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid purple;
  border-radius: 5px;
  margin: 5px 0;
  padding-bottom: 1rem;
  overflow: hidden;
}

h2 {
  width: 100%;
  text-align: center;
  background-color: purple;
  color: white;
  padding: 0.5rem;
  margin: 0;
}

.card p {
  margin: 0 2rem;
}

.card button {
  padding: 0.5rem 2rem;
  margin-top: 1rem;
  margin-left: 1rem;
  background-color: rgb(209, 71, 71);
  color: white;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.card button:active {
  transform: scale(0.98);
  background-color: rgb(150, 51, 51);
}

.card button.toggle-status {
  background-color: cadetblue;
}

.card button.toggle-status:active {
  background-color: rgb(66, 109, 110);
}
